* {
  margin: 0%;
  padding: 0%;
}

header {
  display: flex;
  word-spacing: 20px;
  margin: 20px;
  margin-bottom: 100px;
  gap: 40px;
  padding: 20px 90px;
}
.botao {
  background: rgb(71, 163, 71);
  color: white;
  border: none;
  border-radius: 20px;
  min-width: 110px;
  height: 40px;
  font-size: 18px;
  position: relative;
  bottom: 9px;

}

div {
  display: inline-block;
  margin-left: 700px;
  transform: translateY(-200px);
}

h1 {
  font-family: Poppins;
  height: 70px;
  width: 515px;
  font-weight: 400px;
  font-size: 60px;
  line-height: 29px;
  color: #161A49;
  margin-right: 23px;
  line-height: 90px;
  position: relative;
  bottom: 150px;
}


h3{

    line-height: 26px;
    font-size: 24px;
    color: #4B505A;
    position: relative;
    bottom: 20px;
    font-weight: 300;

}

main{
    justify-content: center;
    padding: 400px;
    position: relative;
    bottom: 350px;

}

body{
    overflow-y: hidden;
}


.botoes{
    font-size: 20px;
    color: #17233D;
}

h2{
    color: #6FBF44;
    font-weight: 60;
    margin-top: 40px;

}